<form class="{{cssClass}}" autocomplete="off">
    <section class="header-fields" height="50px">
        <nav class="sheet-tabs tabs" data-group="primary">
            <div style="text-align:left">
                <a class="item" data-tab="file"> <b>{{toUpperCase (localize 'GB.PERSONNEL_FILE')}}</b></a>
            </div>
            <div style="text-align:right">
                <a class="item" data-tab="data"><i class="fas fa-cog"></i></a>
            </div>
        </nav>
    </section>
    <section class="sheet-body">
        <div class="tab file" data-group="primary" data-tab="file">
            <div class="grid grid-header">
                <label for="name" class="resource-label">{{localize 'GB.NAME'}}:</label>
                <input type="text" id="name" name="name" value="{{actor.name}}"
                       data-type="String"/>
                <label for="actor.system.alias.value" class="resource-label">{{localize 'GB.ALIAS'}}:</label>
                <input type="text" id="actor.system.alias.value" name="system.alias.value"
                       value="{{actor.system.alias.value}}"
                       data-type="String"/>
                <label for="actor.system.phone.value" class="resource-label">{{localize 'GB.PHONE'}}:</label>
                <input type="text" id="actor.system.phone.value" name="system.phone.value"
                       value="{{actor.system.phone.value}}"
                       data-type="String"/>
                <label for="actor.system.telex.value" class="resource-label">{{localize 'GB.TELEX'}}:</label>
                <input type="text" id="actor.system.telex.value" name="system.telex.value"
                       value="{{actor.system.telex.value}}"
                       data-type="String"/>
            </div>
            <div class="grid-residence">
                <label for="actor.system.residence.value" class="resource-label">{{localize 'GB.RESIDENCE'}}:</label>
                <input type="text" id="actor.system.residence.value" name="system.residence.value"
                       value="{{actor.system.residence.value}}"
                       data-type="String"/>
            </div>
            <hr style="width:50%;text-align:left;margin-left:25%">
            <div class="grid-description">
                <div class="row">
                    <div class="column">
                        <b>{{toUpperCase (localize 'GB.PHOTO_HERE')}}</b>
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
                             alt="{{actor.name}}"
                             height="150" width="150"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <b>{{toUpperCase (localize 'GB.DESCRIPTION')}}</b>
                        <div class="grid-header">
                            <label for="actor.system.sex.value" class="resource-label">{{localize 'GB.SEX'}}:</label>
                            <input type="text" id="actor.system.sex.value" name="system.sex.value"
                                   value="{{actor.system.sex.value}}"
                                   data-type="String"/>

                            <label for="actor.system.age.value" class="resource-label">{{localize 'GB.AGE'}}:</label>
                            <input type="text" id="actor.system.age.value" name="system.age.value"
                                   value="{{actor.system.age.value}}"
                                   data-type="String"/>

                            <label for="actor.system.hair.value" class="resource-label">{{localize 'GB.HAIR'}}:</label>
                            <input type="text" id="actor.system.hair.value" name="system.hair.value"
                                   value="{{actor.system.hair.value}}"
                                   data-type="String"/>

                            <label for="actor.system.eyes.value" class="resource-label">{{localize 'GB.EYES'}}:</label>
                            <input type="text" id="actor.system.eyes.value" name="system.eyes.value"
                                   value="{{actor.system.eyes.value}}"
                                   data-type="String"/>

                            <label for="actor.system.height.value" class="resource-label">{{localize
                                'GB.HEIGHT'}}:</label>
                            <input type="text" id="actor.system.height.value" name="system.height.value"
                                   value="{{actor.system.height.value}}"
                                   data-type="String"/>

                            <label for="actor.system.weight.value" class="resource-label">{{localize
                                'GB.WEIGHT'}}:</label>
                            <input type="text" id="actor.system.weight.value" name="system.weight.value"
                                   value="{{actor.system.weight.value}}"
                                   data-type="String"/>
                        </div>
                        <div class="grid-goals">
                            <label for="actor.system.goals.value" class="resource-label">{{localize
                                'GB.GOALS'}}:</label>
                            <input type="text" id="actor.system.goals.value" name="system.goals.value"
                                   value="{{actor.system.goals.value}}"
                                   data-type="String"/>

                            <label for="actor.system.tags.value" class="resource-label">{{localize 'GB.TAGS'}}:</label>
                            <input type="text" id="actor.system.tags.value" name="system.tags.value"
                                   value="{{actor.system.tags.value}}"
                                   data-type="String"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="width:50%;text-align:left;margin-left:25%">
            <div class="grid-medical">
                <label for="actor.system.medical_history.value" class="resource-label">{{localize
                    'GB.MEDICAL_HISTORY'}}</label>
                <select name="system.medical_history.value" id="actor.system.medical_history.value">
                    {{#select actor.system.medical_history.value}}
                    {{#each (getMed) as |level key|}}
                    <option value="{{ key }}">
                        {{localize level.label}}
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
                <span class="flexrow flex-group-center">
                {{ localize (getMedEffect actor.system.medical_history.value)}}
            </span>
                <label for="actor.system.brownie_points.value" class="resource-label">{{localize
                    'GB.BROWNIE_POINTS'}}</label>
                <input type="number" id="actor.system.brownie_points.value" name="system.brownie_points.value"
                       value="{{actor.system.brownie_points.value}}" data-dtype="Number"
                       title="{{localize 'GB.BROWNIE_POINTS'}}"/>
            </div>
            <hr style="width:50%;text-align:left;margin-left:25%">
            <div class="grid-traits">
                <span><b>{{toUpperCase (localize 'GB.TRAITS')}}</b></span>
                <span><b>{{toUpperCase (localize 'GB.ROLL')}}</b></span>
                <span><b>{{toUpperCase (localize 'GB.TALENTS')}}</b></span>
                <span><b>{{toUpperCase (localize 'GB.ROLL')}}</b></span>
                {{#each actor.system.traits as |trait key|}}
                {{#if trait.active}}
                <span class="ability-mod rollable" data-roll="{{trait.current}}" data-label="{{localize trait.label}}">
                        <label for="actor.system.traits.{{key}}.value"
                               class="resource-label">{{localize trait.label}}</label>
                    </span>
                <div class="flexrow">
                        <span class="ability-mod rollable" data-roll="{{trait.current}}"
                              data-label="{{localize trait.label}}">
                            <i class="fas fa-dice"></i>
                        </span>
                    <input type="number" id="actor.system.traits.{{key}}.value" name="system.traits.{{key}}.value"
                           value="{{trait.value}}" data-dtype="Number" title="{{localize 'GB.TOTAL'}}"/>
                    /
                    <input type="number" id="actor.system.traits.{{key}}.current" name="system.traits.{{key}}.current"
                           value="{{trait.current}}" data-dtype="Number" title="{{localize 'GB.CURRENT'}}"/>
                </div>
                {{#if (ne trait.attached false)}}
                <input type="text" id="actor.system.traits.{{key}}.attached.names"
                       name="system.traits.{{key}}.attached.names"
                       value="{{trait.attached.names}}" data-dtype="String"/>
                <div class="flexrow">
                    <span class="ability-mod rollable" data-roll="{{trait.attached.value}}"
                          data-label="{{ localize trait.label}} {{localize trait.attached.label}}">
                            <i class="fas fa-dice"></i>
                        </span>
                    <input type="number" id="actor.system.traits.{{key}}.attached.value"
                           name="system.traits.{{key}}.attached.value"
                           value="{{trait.attached.value}}" data-dtype="Number"/>
                </div>
                {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{#if system.traits.power.active}}
            <label for="actor.system.special_abilities.value" class="resource-label">{{localize
                special_abilities.label}}
                :</label>
            <input type="text" id="actor.system.special_abilities.value" name="system.special_abilities.value"
                   title="{{localize system.special_abilities.label}}"
                   value="{{actor.system.special_abilities.value}}" data-dtype="String"/>
            {{/if}}
            <hr style="width:50%;text-align:left;margin-left:25%">
            <div class="gear" data-group="primary">
                <div class="flexrow">
                    <b>{{toUpperCase (localize 'GB.GEAR')}}</b>
                    <div class="item-controls" style="text-align:right;">
                        <a class="item-control item-create" title="Create item" data-type="gear"><i
                                class="fas fa-plus"></i>{{localize 'GB.ADD_ITEM'}}</a>
                    </div>
                </div>
                <ol class="gear-list">
                    <li class="item flexrow item-header">
                        <div class="grid-gear">
                            <div class="item-name">{{localize 'GB.NAME'}}</div>
                            <div class="item-location">{{localize 'GB.LOCATION'}}</div>
                            <div class="item-hands">H/M</div>
                        </div>
                    </li>
                    {{#each actor.gear as |item key|}}
                    <li class="item flexrow flex-group-left" data-item-id="{{item._id}}">
                        <div class="grid-gear">
                            <h4 class="item-name">{{item.name}}</h4>
                            <span class="item-location">{{item.system.location}}</span>
                            <span class="item-hands">
                            {{item.system.hands}}/{{item.system.muscle}}
                        </span>
                            <div class="item-controls-small">
                                <a class="item-control item-edit small-font" title="Edit Item"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete small-font" title="Delete Item"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="grid-muscle">
                <span>{{localize 'GB.TOTAL'}} {{localize 'GB.MUSCLE'}}:</span>
                <div class="flexrow flex-group-center" style="width:40px">{{actor.system.muscle}}</div>
                <div class="flexrow flex-group-center">{{ localize
                    (getMuscleEffect system.traits.muscles.value system.muscle)}}
                </div>
            </div>
        </div>
        {{> systems/gb/templates/actor/data.html}}
    </section>
</form>