<form class="{{cssClass}}" autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="primary">
        <div style="text-align:left">
            <a class="item" data-tab="file"><b>{{toUpperCase (localize 'GB.ENTITY_ANALYSIS_FORM')}}</b></a>
        </div>
        <div style="text-align:right">
            <a class="item" data-tab="data"><i class="fas fa-cog"></i></a>
        </div>
    </nav>
    <section class="sheet-body">
        <div class="tab file" data-group="primary" data-tab="file">
            <b>{{toUpperCase (localize 'GB.PHOTO_HERE')}}</b>
            <div class="grid-description">
                <div class="row">
                    <div class="column">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
                             alt="{{actor.name}}"
                             height="150" width="150"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="grid-entity-header">
                            <label for="name" class="resource-label">{{localize 'GB.NAME'}}:</label>
                            <input type="text" id="name" name="name" value="{{actor.name}}"
                                   data-type="String"/>
                            <label for="actor.system.goals" class="resource-label">{{localize 'GB.GOALS'}}:</label>
                            <input type="text" id="actor.system.goals" name="system.goals"
                                   value="{{actor.system.goals}}"
                                   data-type="String"/>
                            <label for="actor.system.tags.value" class="resource-label">{{localize 'GB.TAGS'}}:</label>
                            <input type="text" id="actor.system.tags.value" name="system.tags.value"
                                   value="{{actor.system.tags.value}}"
                                   data-type="String"/>
                            <label for="actor.system.species" class="resource-label">{{localize
                                'GB.SPECIES_OR_RACE'}}:</label>
                            <input type="text" id="actor.system.species" name="system.species"
                                   value="{{actor.system.species}}"
                                   data-dtype="String"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-entity-header-4">
                <label for="actor.system.sex.value" class="resource-label">{{localize 'GB.SEX'}}:</label>
                <input type="text" id="actor.system.sex.value" name="system.sex.value"
                       value="{{actor.system.sex.value}}"
                       data-type="String"/>

                <label for="actor.system.age.value" class="resource-label">{{localize 'GB.AGE'}}:</label>
                <input type="text" id="actor.system.age.value" name="system.age.value"
                       value="{{actor.system.age.value}}"
                       data-type="String"/>

                <label for="actor.system.hair.value" class="resource-label">{{localize 'GB.HAIR'}}:</label>
                <input type="text" id="actor.system.hair.value" name="system.hair.value"
                       value="{{actor.system.hair.value}}"
                       data-type="String"/>

                <label for="actor.system.eyes.value" class="resource-label">{{localize 'GB.EYES'}}:</label>
                <input type="text" id="actor.system.eyes.value" name="system.eyes.value"
                       value="{{actor.system.eyes.value}}"
                       data-type="String"/>

                <label for="actor.system.height.value" class="resource-label">{{localize 'GB.HEIGHT'}}:</label>
                <input type="text" id="actor.system.height.value" name="system.height.value"
                       value="{{actor.system.height.value}}"
                       data-type="String"/>

                <label for="actor.system.weight.value" class="resource-label">{{localize 'GB.WEIGHT'}}:</label>
                <input type="text" id="actor.system.weight.value" name="system.weight.value"
                       value="{{actor.system.weight.value}}"
                       data-type="String"/>
                <label for="actor.system.type">{{localize "GB.TYPE"}}:</label>
                <select name="system.type" id="actor.system.type">
                    {{#select actor.system.type}}
                    <option value="{{localize 'GB.PHYSICAL'}}">
                        {{localize 'GB.PHYSICAL'}}
                    </option>
                    <option value="{{localize 'GB.ECTOPLASMIC'}}">
                        {{localize 'GB.ECTOPLASMIC'}}
                    </option>
                    {{/select}}
                </select>
                <label for="actor.system.intelligent">{{localize "GB.MIND"}}:</label>
                <select name="system.intelligent" id="actor.system.intelligent">
                    {{#select actor.system.intelligent}}
                    <option value="{{localize 'GB.INTELLIGENT'}}">
                        {{localize 'GB.INTELLIGENT'}}
                    </option>
                    <option value="{{localize 'GB.MINDLESS'}}">
                        {{localize 'GB.MINDLESS'}}
                    </option>
                    {{/select}}
                </select>
            </div>
            <hr style="width:50%;text-align:left;margin-left:25%">
            <div class="grid-medical">
                <label for="actor.system.medical_history.value" class="resource-label">{{localize
                    'GB.MEDICAL_HISTORY'}}</label>
                <select name="system.medical_history.value" id="actor.system.medical_history.value">
                    {{#select actor.system.medical_history.value}}
                    {{#each (getMed) as |level key|}}
                    <option value="{{ key }}">
                        {{localize level.label}}
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
                <span class="flexrow flex-group-center">
                    {{ localize (getMedEffect actor.system.medical_history.value)}}
                </span>
            </div>
            <hr style="width:50%;text-align:left;margin-left:25%">
            <div class="grid-traits">
                <span><b>{{toUpperCase (localize 'GB.TRAITS')}}</b></span>
                <span><b>{{toUpperCase (localize 'GB.ROLL')}}</b></span>
                <span><b>{{toUpperCase (localize 'GB.TALENTS')}}</b></span>
                <span><b>{{toUpperCase (localize 'GB.ROLL')}}</b></span>
                {{#each actor.system.traits as |trait key|}}
                {{#if trait.active}}
                <span class="ability-mod rollable" data-roll="{{trait.current}}"
                      data-label="{{localize trait.label}}">
                        <label for="actor.system.traits.{{key}}.value"
                               class="resource-label">{{localize trait.label}}</label>
                    </span>
                <div class="flexrow">
                        <span class="ability-mod rollable" data-roll="{{trait.current}}"
                              data-label="{{localize trait.label}}">
                            <i class="fas fa-dice"></i>
                        </span>
                    <input type="number" id="actor.system.traits.{{key}}.value" name="system.traits.{{key}}.value"
                           value="{{trait.value}}" data-dtype="Number" title="{{localize 'GB.TOTAL'}}"/>
                    /
                    <input type="number" id="actor.system.traits.{{key}}.current" name="system.traits.{{key}}.current"
                           value="{{trait.current}}" data-dtype="Number" title="{{localize 'GB.CURRENT'}}"/>
                </div>
                {{#if (ne trait.attached false)}}
                <input type="text" id="actor.system.traits.{{key}}.attached.names"
                       name="system.traits.{{key}}.attached.names"
                       value="{{trait.attached.names}}" data-dtype="String"/>
                <div class="flexrow">
                    <span class="ability-mod rollable" data-roll="{{trait.attached.value}}"
                          data-label="{{ localize trait.label}} {{localize trait.attached.label}}">
                            <i class="fas fa-dice"></i>
                        </span>
                    <input type="number" id="actor.system.traits.{{key}}.attached.value"
                           name="system.traits.{{key}}.attached.value"
                           value="{{trait.attached.value}}" data-dtype="Number"/>
                </div>
                {{else}}<span></span><span></span>
                {{/if}}
                {{/if}}
                {{/each}}
            </div>
            <hr style="width:50%;text-align:left;margin-left:25%">
            <div class="row">
                <div class="column">
                    <style class="text/css">
                        .editor .editor-content {
                            min-height: 200px;
                        }
                    </style>
                    <label for="actor.system.special_abilities.value" class="resource-label">
                        <b>{{localize actor.system.special_abilities.label}}:</b></label>
                    {{editor actor.system.special_abilities.value name=actor.system.special_abilities.value
                    target="system.special_abilities.value"
                    button=true owner=owner editable=true }}
                </div>
                <div class="column">
                    <div>
                        <style class="text/css">
                            .editor .editor-content {
                                min-height: 200px;
                            }
                        </style>
                        <label for="actor.system.weaknesses.value" class="resource-label">
                            <b>{{localize actor.system.weaknesses.label}}:</b></label>
                        {{editor actor.system.weaknesses.value name=actor.system.weaknesses.value
                        target="system.weaknesses.value"
                        button=true owner=owner editable=true }}
                    </div>
                    <div>
                        <style class="text/css">
                            .editor .editor-content {
                                min-height: 200px;
                            }
                        </style>
                        <label for="actor.system.history.value" class="resource-label">
                            <b>{{localize actor.system.history.label}}:</b></label>
                        {{editor actor.system.history.value name=actor.system.history.value
                        target="system.history.value"
                        button=true owner=owner editable=true }}
                    </div>
                </div>
            </div>
        </div>
        {{> systems/gb/templates/actor/data.html}}
    </section>
</form>
