.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 5px;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.grid-header {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 1px;
  grid-column: span 4 / span 4;
  grid-template-columns: 10% 39% 10% 39%;
}

.grid-residence {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 1px;
  grid-column: span 2 / span 2;
  grid-template-columns: 12% 87%;
}

.grid-goals {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 1px;
  grid-column: span 2 / span 2;
  grid-template-columns: 10% 89%;
}

.grid-description {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 2 / span 2;
  grid-template-columns: 19% 80%;
}

.grid-traits {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 4 / span 4;
  grid-template-columns: 10% 15% 65% 10%;
}

.grid-medical {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 5 / span 5;
  grid-template-columns: 15% 20% 40% 20% 5%;
}

.grid-medical-extra {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 3 / span 3;
  grid-template-columns: 20% 20% 60%;
}

.grid-gear {
  display: grid;
  border: 0px;
  gap: 0px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 4 / span 4;
  grid-template-columns: 50% 30% 10% 10%;
}

.grid-muscle {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 3 / span 3;
  grid-template-columns: 15% 5% 80%;
}

.grid-entity-header {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 2 / span 2;
  grid-template-columns: 16% 84%;
}

.grid-entity-header-4,
.grid-extra-header-4 {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 8 / span 8;
  grid-template-columns: 8% 17% 8% 17% 8% 17% 8% 17%;
}

.grid-data-traits {
  display: grid;
  border: 1px;
  gap: 1px;
  margin: 1px 0;
  padding: 0px;
  grid-column: span 2 / span 2;
  grid-template-columns: 20% 80%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 2px;
}